<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="shortcut icon" href="../public/img/wwArtboard 1.png" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css"/>
    
    <title>Tela de Cadastro</title>

</head>
<body>
    <div class="centralizar">
        <div class="conteudo">      
            <div id="login">
                <form action="/cadastre" method="POST"> 
                    <h2><i class="fa-regular fa-user"></i> Cadastre-se</h2> 
                    <p> 
                        <label for="email">E-mail</label>
                        <input id="email" name="email" required="required" type="email" placeholder="Insira seu e-mail" autocomplete="on"/>
                    </p>
                    <p> 
                        <label for="nome">Nome</label>
                        <input id="nome" name="nome" required="required" type="text" placeholder="Insira seu nome de usuário" /> 
                    </p>
                    <p> 
                        <label for="senha">Senha</label>
                        <input id="senha" name="senha" required="required" type="password" placeholder="Insira sua senha"/>
                        <div id="fa-eye"></div>
                    </p>
                    <p> 
                        <label for="confSenha">Confirme a senha</label>
                        <input id="confSenha" name="confSenha" required="required" type="password" placeholder="Re-digite sua senha" />
                    </p>
                    <p> 
                        <input type="submit" value="Cadastrar" id="entrar" name="entrar"><br>
                    </p>
                </form>
                <% if(status == 401){ %>
                    <h3 style="text-align: center;">As senhas não coincidem!</h3>
                <% } %>
            </div>
        </div>
    </div>

    <div class="header">
    <!--Content before waves-->
    <div class="inner-header flex">
    </div>
        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
            </svg>
        </div>
    </div>
    
    <script src="../public/js/senha.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>
    <!-- Ícones -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" 
    crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>