<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="shortcut icon" href="../../public/img/wwArtboard 1.png" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css"/>
    
    <title>Nova Alexandria</title>

</head>
<body>
    <div class="centralizar">
        <div class="conteudo">      
            <div id="login">
                <form action="/loginDB" method="POST"> 
                    <h2><i class="fa-regular fa-user"></i> Conecte-se</h2> 
                    <p> 
                        <label for="email">E-mail</label>
                        <input id="email" name="email" required="required" type="email" placeholder="Insira seu e-mail" autocomplete="on"/>
                    </p>
                    <p> 
                        <label for="senha">Senha</label>
                        <input id="senha" name="senha" required="required" type="password" placeholder="Insira sua senha" /> 
                    </p>
                    <p> 
                        <input type="submit" value="Entrar" id="entrar" name="entrar"><br>
                    </p>
                </form>
                <p style="text-align: end;"> 
                    <label for="manterlogado">Esqueceu sua <a href="/esqueceuSenha" id="esqueceuSenha" name="esqueceuSenha">senha?</a></label>
                </p>
                <p style="text-align: end; margin-bottom: 40px;"> 
                    <label for="manterlogado"> <a href="/cadastro" id="cadastro" name="cadastro">Cadastre-se</a></label>
                </p>
                <div class="googleAuth"> 
                    <div id="g_id_onload"
                        data-client_id="245073186631-0aq6pl4ailrqeruehjuvhkk35iuem2e6.apps.googleusercontent.com"
                        data-login_uri="http://localhost:3000/loginGoogle"
                        data-context="use">
                    </div>
                    <div class="g_id_signin"
                        data-type="standard"
                        data-size="large"
                        data-theme="outline"
                        data-text="sign_in_with"
                        data-shape="rectangular"
                        data-logo_alignment="left">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./includes/waves'); %>

    <!-- Ãcones -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" 
    crossorigin="anonymous"></script>
</body>
</html>